<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="header-title">
          <h1>Seja a modelo da vez,</h1>
          <h1>Encontre o Brinco Perfeito.</h1>
        </div>
        <div class="header-subtitle">
          <p>
            Seja a modelo da vez, experimente muitas jóias, <br>
            encontre o brinco perfeito para o look da vez, <br>
            e viva linda como uma verdadeira Angel.
          </p>
        </div>
        <div class="header-download-links">
          <%= link_to "Apple", "#", class: "download-item" %>
          <%= link_to "Google", "#", class: "download-item" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="subheader-title">
        <h2>Like an Angel</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="subheader-card">
        <%= image_tag "subheader-card-1.png" %>
        <h3>Experimente</h3>
        <p>São diversos modelos para você <br>
        ter o look perfeito, você pode <br>
        experimentar quantos quiser.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="subheader-card">
        <%= image_tag "subheader-card-2.png" %>
        <h3>Escolha seu Brinco</h3>
        <p>Escolha o seu par de brincos <br>
          favorito, afinal você já viu que está <br>
          divando com esse look.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="subheader-card">
        <%= image_tag "subheader-card-3.png" %>
        <h3>Compre e Receba Hoje</h3>
        <p>Comprou, chegou. Precisa desses <br>
         brincos urgentes? Você compra e <br>
         recebe no mesmo dia.</p>

      </div>
    </div>
  </div>
</div>
